{% extends "stafi/base.html" %}
{% block body %}
<br><br>
<!-- Modal -->
<div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
      </div>
      <div class="modal-body">
          <div class="alert alert-success d-flex align-items-center" role="alert">
  <div><i class="fa-solid fa-check"></i>
  Subject details successfully added!
  </div>
</div>

      </div>
      <div class="modal-footer">
          <a href="{% url 'website' %}" class="btn btn-secondary" >OK</a>

      </div>
    </div>
  </div>
</div>
{% if success %}
<script>
  $(document).ready(function () {
    $('#successModal').modal('show');
  });
</script>
{% else %}
<div class="row justify-content-center">
    <div class="col-6">
        <div class="card bg-light mb-3">
            <div class="card-header"><i class="fa-solid fa-address-card"></i>Subject Registration
            </div>
            <div class="card-body">
           <form method="post" enctype="multipart/form-data">
                   {% csrf_token %}
                   {{ form.as_p }}
                <button id="butonii " type="submit" class="btn btn-primary">Add</button>
                <a href="{% url 'website' %}" class="btn btn-secondary">Cancel</a>

</form>


            </div>
        </div>
    </div>

</div>
{% endif %}
{% endblock %}