{% extends "stafi/base.html" %}
{% block body %}
<br><br>

<div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
      </div>
      <div class="modal-body">
          <div class="alert alert-success d-flex align-items-center" role="alert">
  <div><i class="fa-solid fa-check"></i>
   Subject successfully added!
  </div>
</div>

      </div>
      <div class="modal-footer">
          <a href="{% url 'subjects_list' %}" class="btn btn-secondary" >OK</a>

      </div>
    </div>
  </div>
</div>


{% if success %}
<script>
  $(document).ready(function () {
    $('#successModal').modal('show');
  });
</script>
{% else %}
<div class="row justify-content-center">
    <div class="col-6">
        <div class="card bg-light mb-3">
            <div class="card-header"><i class="fa-solid fa-address-card"></i>Add Subject
            </div>
            <div class="card-body">
                <form method="post">
                      {% csrf_token %}
                      {{ form.as_p }}
                   <button type="submit" class="btn btn-primary">Add</button>
                     <a href="{% url 'subjects_list' %}" class="btn btn-secondary">Cancel</a>
                   </form>


                </form>
            </div>
        </div>
    </div>

</div>
{% endif %}
{% endblock %}
